# Do not upload config files.
config

# Do not upload profile files. (add yours here lol)
profile1
profile2
profile3
profile4
profile5
profile6
profile7
profile8
profile9
profile10


# Do not upload the version info.
ver_info.nfo

# Do not upload the error logs.
console.err
console.out

Do not upload the addons folder.
addons

# Do not upload .stl~ files at all.
**/*.stl~
*.stwm~
